@mixin inline-node {
  padding: 1em;
  background: #f9d7ed;
  margin-bottom: 1em;
}

article.node-character.node-teaser {
  @include inline-node;
  header {
    border-bottom: 2px solid #24231B;
    margin-bottom: 1em;
    :first-child {
      color: #24231B;
    }
  }
}

.field-name-field-characters {
  :first-child a,
  :first-child {
    font-size: large;
    color: #24231B;
  }
}


.node-character.node-teaser {
  h2 {
    font-size: large;
    color: #3717b1;
    border-bottom: 2px;
  }
  .field-label:first-child {
    font-size: large;

  }
}

.group-left,
.group-right {
  .paragraphs-items {
    margin: 0;
    padding: 0;
  }
}
.paragraphs-items {
  border: 1px solid #ddd;
}
.field-name-field-actions > .field-label {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 16px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.entity-paragraphs-item {
  padding: 0 1em 0 1em;
  .content .field {
    margin: 1em 0;
  }
}
