.grid-container {
  display: grid;
  .item {
    display: flex;
    grid-column: 2 / span 1;
    align-items: flex-end;
  }
  img.item {
    width: 140px;
    grid-column: 1 / span 1;
    padding-right: 1em;
  }
}

.node.view-mode-full .field-type-image img,
.file-video iframe {
  width: 100%;
}

.node.view-mode-full {
  .field-type-text-long .field-item,
  .field-type-file .field-item,
  .field-type-image .field-item {
    margin: 1em 0;
  }
}