.grid-container {
  display: grid;
  .item {
    display: flex;
    grid-column: 2 / span 1;
    align-items: flex-end;
  }
  img.item {
    width: 140px;
    grid-column: 1 / span 1;
    padding-right: 1em;
  }
}

.node.view-mode-full .field-type-image img,
.file-video iframe {
  width: 100%;
}

.node.view-mode-full {
  .field-type-text-long .field-item,
  .field-type-file .field-item,
  .field-type-image .field-item {
    margin: 1em 0;
  }
}

@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#header-wrapper {
  @include full-width;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  header {
    border: none;
  }
}

.field-type-image {
  @include full-width;
  background-color: #2a1d75;
  img {
    margin: 0 auto;
  }
  margin-bottom: $navbar-margin-bottom;
}
.field-name-field-intro-text {
  font-size: $font-size-h1;
  text-align: center;
}