// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import "quotes";

.group-left,
.group-right {
  > div {
    margin: 1em;
  }
  div:first-child {
    margin-top: 0;
  }
}
