// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

@import "quotes";
@import "inline-node";
@import "media-text";

.group-left,
.group-right {
  > div {
    margin: 1em;
  }
  div:first-child {
    margin-top: 0;
  }
}

.field-name-content-type {
  font-size: $font-size-h3;
}
.group-left .field-name-content-type {
  font-size: $font-size-h3;
  margin-left: 14px;
}

.more-link {
  text-align: right;
}